.edit-bookmarks-wrapper{
    padding: 35px;

}

.btns-container {
    display: flex;
    gap: 10px; /* Adjust the space between buttons */
  }
  
  button {
    padding: 8px 16px; /* Optional: adds some space inside the button */
  }