<div class="app-wrapper">
  <img [src]="bg" class="bg-img" alt="Background image">

  <!-- Refresh button -->
  <div class="btn change-bg-btn" (click)="changeBGImage()">
    <i class="material-symbols-outlined">refresh</i>
  </div>


  
  <div class="top-section">
    <router-outlet></router-outlet>
    <!-- Components goes here -->
  </div>

  <div class="bottom-section">
    <app-tabs></app-tabs>
  </div>

  <!-- Notification of updates -->
  <app-notification></app-notification>
</div>
